.app {
  .main {
    display:         flex;
    justify-content: space-between;
    margin:          0 70px 0 32px;
    .left {
      min-width:     298px;
      background:    #2252C4;
      border-radius: 30px;
      position:      relative;
      top:           0;
      left:          0;
      padding:       78px 18px 41px 18px;
      .logo {
        height:   70px;
        width:    90px;
        position: absolute;
        top:      43px;
        left:     18px;
      }
      h3 {
        max-width:      230px;
        font-weight:    500;
        font-size:      18px;
        color:          #fff;
        margin:         0 0 97px 25px;
        text-transform: uppercase;
      }
      ul {
        margin: 0 0 57px 0;
      }
      li {
        max-width:     50%;
        margin-bottom: 19px;
        color:         #fff;
        cursor:        pointer;
        transition:    .3s linear;
        font-size:     22px;
        &:hover {
          color: #EC1D1D;
        }
      }
      a {
        display:   inline-flex;
        margin:    0 auto 56px;
        top:       0;
        left:      50%;
        z-index:   2;
        transform: translateX(-50%);
      }
    }
    .right {
      max-width:       490px;
      text-align:      right;
      display:         flex;
      flex-direction:  column;
      justify-content: space-between;
      margin:          74px 0 30px;
      img {
        height:     calc(100% - 210px);
        width:      73%;
        position:   absolute;
        top:        52%;
        right:      0;
        z-index:    1;
        transform:  translateY(-50%);
        object-fit: cover;
      }
      h2 {
        position:     relative;
        top:          0;
        right:        0;
        z-index:      2;
        margin-right: 15px;
      }
      h1 {
        font-weight:    900;
        font-size:      72px;
        color:          #182746;
        text-transform: uppercase;
        position:       relative;
        bottom:         0;
        right:          0;
        z-index:        2;
        line-height:    0.8;
        margin-right:   17px;
        span {
          font-size: 200px;
        }
      }
    }
  }
  .photos {
    margin: 46px 0 85px 0;
    h2 {
      max-width:     300px;
      margin-bottom: 40px;
    }
  }
  .apartments {
    .apartment {
      position:        relative;
      top:             0;
      right:           0;
      display:         flex;
      justify-content: space-around;
      margin:          91px 0 190px;
      &:nth-child(2n-1) {
        .scheme {
          margin: 107px 63px 0 0;
        }
        .square {
          left: -46%;
        }
      }
      &:nth-child(2n) {
        flex-direction: row-reverse;
        .apartmentSelection {
          margin-top:   146px;
          padding-left: 20px;
          .numRooms {
            left: 14px;
          }
          h2 {
            margin-bottom: 37px;
          }
          .description {
            margin: 0 0 135px 147px;
          }
          a {
            margin: 0 0 0 40px;
          }
        }
        .scheme {
          margin: 0 0 0 40px;
        }
        .square {
          left:   81%;
          bottom: 18%;
        }
      }
      .apartmentSelection {
        max-width:      433px;
        color:          #2252C3;
        font-size:      18px;
        font-weight:    400;
        position:       relative;
        top:            0;
        left:           0;
        display:        flex;
        flex-direction: column;
        padding-left:   40px;
        .numRooms {
          font-weight: 900;
          font-size:   300px;
          color:       rgba(24, 39, 70, 0.1);
          position:    absolute;
          top:         -70px;
          left:        35px;
        }
        h2 {
          font-weight:   700;
          margin-bottom: 26px;
        }
        .description {
          margin: 0 0 113px 138px;
        }
        a {
          border: 1px solid #EC1D1D;
          margin: 0 auto;
        }
      }
      .scheme {
        position: relative;
        img {
          max-height: 310px;
          max-width:  343px;
        }
      }
      .square {
        height:           152px;
        width:            152px;
        color:            #fff;
        text-align:       center;
        display:          flex;
        flex-direction:   column;
        justify-content:  center;
        border-radius:    50%;
        background-color: #2252C3;
        font-size:        18px;
        font-weight:      500;
        position:         absolute;
        bottom:           -62px;
        padding-bottom:   10px;
        line-height:      1;
        span {
          font-weight: 700;
          font-size:   48px;
          color:       #fff;
        }
      }
    }
  }
  .location {
    padding: 80px 0 100px;
    h2 {
      max-width:   745px;
      margin:      0 0 12px 101px;
      line-height: 1.2;
    }
    .description {
      width:         493px;
      padding:       27px 51px 20px 19px;
      background:    rgba(24, 39, 70, 0.8);
      border-radius: 34px;
      position:      absolute;
      left:          84px;
      top:           39px;
      z-index:       1;
      p {
        padding-bottom: 15px;
        color:          #fff;
      }
    }
    .content {
      min-height:      337px;
      width:           100%;
      display:         flex;
      justify-content: flex-end;
      position:        relative;
      left:            0;
      top:             0;
    }
    .buildings {
      max-width:    546px;
      max-height:   402px;
      object-fit:   cover;
      margin-right: 90px;

    }
    .building {
      height:        161px;
      width:         161px;
      position:      absolute;
      top:           320px;
      right:         12px;
      z-index:       1;
      border-radius: 50%;
    }
  }
}

@media(max-width: 1024px) {
  .app {
    .main {
      margin: 0;
      .left {
        padding: 57px 18px 41px 18px;
        .logo {
          height: 70px;
          width:  90px;
          top:    20px;
          left:   15px;
        }
        h3 {
          margin: 0 0 40px 26px;
        }
        ul {
          margin: 0;
        }
        li {
          font-size:     15px;
          margin-bottom: 13px;
        }
        a {
          margin-bottom: 30px;
        }
      }
      .right {
        margin: 50px 0;
        img {
          height: calc(100% - 150px);
          width:  69%;
        }
        h1 {
          font-size: 40px;
          span {
            font-size: 100px;
          }
        }
      }
    }
    .apartments {
      .apartment {
        justify-content: space-between;
        margin:          45px 0 90px;
        &:nth-child(2n) {
          .apartmentSelection {
            a {
              font-size: 15px;
              margin:    0 auto;
            }
            .description {
              margin: 0 0 40px 70px;
            }
          }
        }
        .apartmentSelection {
          .numRooms {
            font-size: 150px;
            top:       -40px;
          }
          h2 {
            font-size: 20px;
          }
          .description {
            margin: 0 0 40px 70px;
          }
        }
        .square {
          height:    100px;
          width:     100px;
          font-size: 14px;
          span {
            font-size: 27px;
          }
        }
      }
    }
    .location {
      padding: 20px 0 20px;
      .content {
        justify-content: space-between;
      }
      .description {
        min-width: 340px;
        position:  relative;
        top:       0;
        left:      0;
      }
      .buildings {
        height:       30vw;
        margin-right: 0;
      }
      .building {
        top:   240px;
        right: 20%;
      }
    }
  }
}

@media(max-width: 768px) {
  .app {
    .main {
      flex-direction: column;
      .left {
        display:   flex;
        flex-wrap: wrap;
        padding:   57px 18px 20px 18px;
        h3 {
          margin: 0 0 20px 26px;
        }
        ul {
          margin: 0 10px 10px;
        }
        .buttons {
          margin: 0 auto;
        }
        a {
          margin-bottom: 20px;
        }
      }
      .right {
        max-width:  100%;
        min-height: 300px;
        margin:     20px 0;
        img {
          max-height: 300px;
          width:      100%;
          top:        77%;
        }
      }
    }
    .apartments {
      margin-top: 20px;
      .apartment {
        flex-direction: column;
        margin:         10px 0;
        &:nth-child(2n-1) {
          .scheme {
            margin: 20px 0 0 0;
          }
        }
        &:nth-child(2n) {
          flex-direction: column;
          .apartmentSelection {
            margin-top: 10px;
            .description {
              margin: 0 0 20px 70px;
            }
          }
        }
        .apartmentSelection {
          .description {
            margin: 0 0 20px 70px;
          }
        }
        .scheme {
          .square {
            display: none;
          }
        }
      }
    }
    .location {
      .description {
        min-width: 50%;
      }
    }
    .location {
      .building {
        right: 10%;
      }
    }
  }
}

@media(max-width: 567px) {
  .app {
    .main {
      .right {
        img {
          top: 80%;
        }
        h1 {
          span {
            font-size: 60px;
          }
        }
      }
    }
    .location {
      .content {
        flex-direction: column;
      }
      .description {
        width: 100%;
      }
      .buildings {
        width: 48%;
      }
      .building {
        top:    auto;
        bottom: 20px;
      }
    }
  }
}