.app {
  .main {
    display:         flex;
    justify-content: space-between;
    .left {
      background:    #2252C4;
      border-radius: 30px;
      .logo {

      }
    }
    .right {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      margin: 74px 0;
      img {
        width:     70%;
        position:  absolute;
        top:       50%;
        right:     0;
        z-index:   1;
        transform: translateY(-50%);
      }
      h2 {
        position: relative;
        top: 0;
        right: 0;
        z-index: 2;
      }
    }
  }
}